/* Basic Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Center vertically on the viewport */
}

.text-with-gif {
      display: flex;
      align-items: center; /* Align items vertically */
      justify-content: bottom; /* Align items horizontally */
    }


.gif-image {
  width: auto; /* Allow the browser to adjust width */
  height: 50px; /* Adjust the height of the GIF */
  margin-right: 10px; /* Adjust spacing between player and image */

}

.content {
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 100px;
}

p {
  font-size: 14px;
  color: #888;
}

.spotifyPlayer {
  margin-top: 100px; /* Space between text and player */
  padding: 10px;
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 100%;
}
